@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Clean Slate */
body {
    min-height: 100vh;
    
    transition: background-color 250ms ease-out;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0, .4);
    padding: 3em;
    width: 50vw;
    max-width: 350px;
    border-radius: 5px;

    text-align: center;
}

h5 {
    margin-bottom: 2em;

    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1em;
}

#changeColor {
    padding: .75em 1.5em;
    border: 2px solid #fff;
    background-color: rgba(255,255,255, 0);
    
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 700;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
}

#changeColor:hover {
    cursor: pointer;
    background-color: rgba(255,255,255, 1);

    color: #242A2F;
}